/BlockListener.class
/CompassListener.class
/CraftListener.class
/DamageListener.class
/DropListener.class
/FurnaceListener.class
/JoinEvent.class
/Menu.class
/PotionListener.class
/RegenListener.class
/WeatherListener.class
